.food-display {
  margin-top: 30px;
}
.food-display h2 {
  font-size: max(2vw, 24px);
  font-family: "Prata", serif;
  line-height: 1.625;
  color: #414141;
}
.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
